%h2 API Key '#{@apikey.description}'
%div
  %p= "Key: #{@apikey.key}"
  %p= "Access Level: #{@apikey.access_level_text}"
  %p= "Issued by: #{@apikey.issued_by}"
  %p= "Issued at: #{@apikey.issued_at}"
