%h2= "#{Time.now.year} BoF Schedule"
- if is_logged_in?
  %h3.text-info You are logged in as a scheduler, click any cell to schedule a session at that time.
- cellId = 0
%table.table.table-bordered
  %thead
    %tr
      %th{scope: 'col', width: '10%'} Start Time
      - column_days = []
      - (settings.conference_start_time.to_date..settings.conference_end_time.to_date).each do |day|
        - column_days.append(day)
        %th{scope: 'col', width: '30%'}
          = day.strftime('%A')
  %tbody
    - this_slot_starts = Time.parse('00:00')
    - while(this_slot_starts < Time.parse('23:59')) do
      %tr
        %td= this_slot_starts.strftime('%H:%M')
        - column_days.each do |day|
          - this_slot_time = Time.parse("#{day.strftime("%Y-%m-%d")} #{this_slot_starts.strftime("%H:%M:%S")}")
          - if(this_slot_time < settings.conference_start_time or this_slot_time > settings.conference_end_time)
            %td.bg-danger-subtle
          - else
            - timeslot = "#{day.strftime('%Y-%m-%d')} #{this_slot_starts.strftime('%H:%M')}"
            - click_js = ""
            - if is_logged_in?
              - click_js = "gridSchedulePopup('#{timeslot}', '#{cellId}', '#{day.strftime('%A')} at #{this_slot_starts.strftime('%H:%M')}');"
            %td{onClick: click_js, id: cellId}
              %div{id: timeslot}
              - # TODO: fix the % as part of the timezone support work later
              - @proposals.where(Sequel.like(:start_time, "#{day.strftime("%Y-%m-%d")} #{this_slot_starts.strftime("%H:%M:%S")}%")).each do |session|
                %a.btn.btn-info{href: "/proposals/#{session[:id]}", 'data-location': session[:room_id], onClick: 'event.stopPropagation();'}= "#{session[:title]} - #{session[:room_name]}"
            - cellId += 1
      - this_slot_starts += settings.slot_length * 60

- if is_logged_in?
  .modal.fade#scheduleModal{tabIndex: -1, role: :dialog}
    .modal-dialog{role: :document}
      .modal-content
        %form.needs-validation{method: :post}
          .modal-header
            %h5.modal-title#ScheduleModalLabel
              %div#scheduleTitle Schedule Sesson
            %button.btn-close{type: :button, 'data-bs-dismiss' => 'modal'}
          .modal-body
            %input#timeslot{type: :hidden, name: 'timeslot'}
            %label.form-label{for: 'session'} Session:
            %select#unscheduledproposals.form-control.session{name: 'proposal_id', onChange: 'displaySchedulerNotes();'}
              - @unscheduled_proposals.each do |proposal|
                %option{value: proposal[:id], 'data-notes': proposal[:scheduler_notes]}= "#{proposal[:title]} - Proposed by #{proposal[:submitted_by]} - #{proposal[:count]} interested"
            %p#schedulernotes{style: 'font-weight: bold'}
            %label.form-label{for: 'room'} Room:
            %select.mb-2.form-control.room#rooms{name: 'room_id'}
              - @rooms.each do |room|
                %option{value: room[:id], id: "room-#{room[:id]}"}= "#{room[:room_name]}"
            %input.form-check-input#conflictOverride{type: :checkbox, onChange: 'conflictOverrideToggle();'}
            %label.form-check-label#conflictOverrideLabel{for: 'conflictOverride'} Override Room Conflicts
          .modal-footer
            %button.btn.btn-secondary{type: :button, 'data-bs-dismiss' => 'modal'}
              Cancel
            %button.btn.btn-primary{type: :submit}
              Schedule Session

  :javascript
    $(document).ready(function() {
      displaySchedulerNotes();
    });
