%h2 #{@proposal[:title]}
%div
  %h3= "#{@proposal[:description]}"
  %p= "Proposed by: #{@proposal[:submitted_by]}"
  - if(not @proposal.schedule_dataset.empty?) then
    - schedule_entry = @proposal.schedule_dataset.first
    - start_time = schedule_entry[:start_time]
    %p
      %b= "Scheduled! BoF will take place on #{start_time.strftime('%A')} at #{start_time.strftime('%H:%M')} in #{schedule_entry.room_dataset.first[:room_name]}"
    - if is_logged_in?
      %p= "Scheduled by #{schedule_entry[:scheduled_by]} on #{schedule_entry[:scheduled_at].strftime("%Y-%m-%d at %H:%M %Z")}"
  %p Interest from:
  %ul
    - if(@proposal.interest_dataset.empty?) then
      %li= "None yet!"
    - @proposal.interest_dataset.each do |interest|
      %li= "#{interest[:name]}"
    %li
      %a{href: "/proposals/#{@proposal[:id]}/interest"} Register Interest
  - if is_logged_in? and settings.generate_pdfs and not @proposal.schedule_dataset.empty?
    %a.btn.btn-primary{href: "/proposals/#{@proposal[:id]}/print"} Re-print Schedule Page
  - if is_logged_in? and not @proposal.schedule_dataset.empty?
    %button.btn.btn-danger{type: :button, 'data-bs-toggle' => 'modal', 'data-bs-target' => '#unscheduleModal'} Un-schedule Session

- if is_logged_in? and not @proposal.schedule_dataset.empty?
  .modal.fade#unscheduleModal{tabIndex: -1, role: :dialog}
    .modal-dialog{role: :document}
      .modal-content
        %form{method: :post, action: "/schedules/#{schedule_entry[:id]}"}
          .modal-header
            %h5.modal-title#ScheduleModalLabel
              %div Un-schedule Session
            %button.btn-close{type: :button, 'data-bs-dismiss' => 'modal'}
          .modal-body
            %p Are you sure you want to un-schedule this session? It will be removed from the schedule, and all participants will receive a notification.
            %input{type: :hidden, name: '_method', value: 'delete'}
            %input{type: :hidden, name: 'proposal_id', value: @proposal[:id]}
          .modal-footer
            %button.btn.btn-secondary{type: :button, 'data-bs-dismiss' => 'modal'}
              Cancel
            %button.btn.btn-danger{type: :submit}
              Un-schedule Session

