%h2= "#{Time.now.year} BoF Scheduler"
%table.table.table-striped
  %thead
    %tr
      %th{scope: 'col'} Title
      %th{scope: 'col'} Proposed By
      %th{scope: 'col'} # Interested
      %th{scope: 'col'} Scheduler

  %tbody
    - @proposals.each do |proposal|
      %tr
        %td
          %a{href: "/proposals/#{proposal[:id]}"}= proposal[:title]
        %td= "#{proposal[:submitted_by]}"
        %td= "#{proposal[:count]}"
        %td
          %form{id: "scheduleForm#{proposal[:id]}", method: :post}
            %div.mb-3
              %input{name: :proposal_id, type: :hidden, value: proposal[:id]}
            %div.mb-3
              %label.form-label{for: 'slot'} Time Slot:
              %select#slot{name: 'slot'}
                - this_time = settings.conference_start_time
                - while(this_time < settings.conference_end_time)
                  %option{value: this_time}= "#{this_time.strftime('%A %H:%M')}"
                  - this_time += 60 * settings.slot_length
            %div.mb-3
              %label.form-label{for: 'room'} Room:
              %input.form-control#room{name: 'room'}
            %div.mb-3
              %button.btn.btn-primary{type: :submit} Schedule Session

